# ignore Editor files
*.sublime-project
*.sublime-workspace
*.idea/

#composer's vendor directory
#on second thought, we have to include this directory, else normal people can't use the plugin off the shelf
#vendor
vendor/gamajo/template-loader/.gitignore

#demo file that I'm using
one-page-sections__demo.css