/*
 * -- FONT STYLES --
 */
@font-face {
    font-family: 'lavanderia_delicate';
    src: url('public/css/fonts/lavanderia_delicate-webfont.eot');
    src: url('public/css/fonts/lavanderia_delicate-webfont.eot?#iefix') format('embedded-opentype'),
    url('public/css/fonts/lavanderia_delicate-webfont.woff2') format('woff2'),
    url('public/css/fonts/lavanderia_delicate-webfont.woff') format('woff'),
    url('public/css/fonts/lavanderia_delicate-webfont.ttf') format('truetype'),
    url('public/css/fonts/lavanderia_delicate-webfont.svg#lavanderia_delicatedelicate') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia_sturdy';
    src: url('public/css/fonts/lavanderia_sturdy-webfont.eot');
    src: url('public/css/fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
    url('public/css/fonts/lavanderia_sturdy-webfont.woff2') format('woff2'),
    url('public/css/fonts/lavanderia_sturdy-webfont.woff') format('woff'),
    url('public/css/fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
    url('public/css/fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia_regular';
    src: url('public/css/fonts/lavanderia_regular-webfont.eot');
    src: url('public/css/fonts/lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('public/css/fonts/lavanderia_regular-webfont.woff2') format('woff2'),
    url('public/css/fonts/lavanderia_regular-webfont.woff') format('woff'),
    url('public/css/fonts/lavanderia_regular-webfont.ttf') format('truetype'),
    url('public/css/fonts/lavanderia_regular-webfont.svg#lavanderia_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** Regular styling **/

.pc3_section__wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#orbit #featured {

    height: auto;
    display: none;
}

.full-height {
    min-height: 100vh;
    height: auto !important;
}

/* DEBUG */
.pc3_section__wrapper .debug * {
    outline: 1px yellow solid;
}


/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */
.home-menu {

    text-align: center;
    z-index: 100;
}

#jquery-sticky {
    z-index: 100;
}

.pc3_section__wrapper .content-section {

    padding-top: 3em;
    padding-bottom: 1em;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.pc3_section__wrapper .splash {
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    margin: auto;
    padding: 6em 0;
}


.pc3_section__wrapper .splash__title,
.pc3_section__wrapper .summary [class^="summary--"],
.pc3_section__wrapper .video,
.pc3_section__wrapper .resources [class^="resources--"] {

    text-align: center;
    padding-top: 1.2em;
}

.pc3_section__wrapper .center-vertical {

    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.pc3_section__wrapper .center-vertical--t {

    transform: translate(0, -100%);
}

.pc3_section__wrapper .center-vertical--b {

    transform: translate(0, 100%);
}

.pc3_section__wrapper .center-vertical-horizontal {

    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pc3_section__wrapper .bg-line {

    z-index: 10;
    height: 2px;
}

.pc3_section__wrapper .bg-line.bg-line--thicker {

    height: 4px;
}

.pc3_section__wrapper .font--block {

    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}

.pc3_section__wrapper .font--fancy {
    font-family: 'lavanderia_sturdy', cursive;
    text-transform: lowercase;
    font-weight: normal;
}

.pc3_section__wrapper .splash__title [class^="icon-"],
.pc3_section__wrapper .splash__title [class*=" icon-"],
.pc3_section__wrapper .splash__title h2 {

    line-height: 96px;
    margin: 0;
    font-size: 96px;
}

/* Better to put the icons in with the header so that they all collapse into the same div */

.pc3_section__wrapper .splash__title--mm [class^="icon-"],
.pc3_section__wrapper .splash__title--mm [class*=" icon-"] {

    line-height: 96px;
    font-size: 144px;
    font-weight: bold;
}

.pc3_section__wrapper .title--inline-overlap {

    z-index: 15;
    display: inline-block;
    padding: 0 24px;
}

.pc3_section__wrapper .summary .summary--b {

    padding-bottom: 1.2em;
}

.pc3_section__wrapper .summary--t h2 {

    padding: 0 10%;
    font-size: 48px;
    text-transform: uppercase;
}

.pc3_section__wrapper .summary--m {

    margin-top: .5em;
}

.pc3_section__wrapper .summary--m img {

    margin-bottom: 1em;
}

.pc3_section__wrapper .note {

    position: relative;
    padding: 1em 1.5em;
    /* background: #97C02F; */
    overflow: hidden;

    height: 200px;
    margin-top: -1em;
}

.pc3_section__wrapper .note:before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: rgb(86, 196, 196) rgb(86, 196, 196) #FFFFFF #FFFFFF; /* color--teal *2  color--white *2 */
    background: rgb(86, 196, 196);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
}

.pc3_section__wrapper .note-title__bg {

    width: 80px;
    height: 80px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;

    z-index: 10;
}

.pc3_section__wrapper .note span {

    margin-top: 1em;
    font-size: 20px;
}

.pc3_section__wrapper .note-title {

    font-size: 96px;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.pc3_section__wrapper .video__title {

    font-size: 96px;
}

.pc3_section__wrapper .video__container {

    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.pc3_section__wrapper .video__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pc3_section__wrapper .resources--t h2 {

    padding: 0 10%;
    font-size: 48px;
    text-transform: uppercase;
}

.pc3_section__wrapper .resources--t .triangle {
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;

    position: absolute;
    z-index: 15;
}

.pc3_section__wrapper .resources--t .triangle--l {

    border-left: 36px solid #FFFFFF;
    left: 0;
}

.pc3_section__wrapper .resources--t .triangle--r {

    border-right: 36px solid #FFFFFF;
    right: 0;
}

.pc3_section__wrapper .resources--m ul {

    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
    margin-bottom: 2em;
}

.pc3_section__wrapper .resources .subhead {

    padding: 0 10%;
    font-size: 36px;
    text-transform: uppercase;
    margin: .5em 0;
}

.pc3_section__wrapper .resources--m  a,
.pc3_section__wrapper .resources--m  i {

    font-size: 18px;
    line-height: 18px;
}

.pc3_section__wrapper .resources--m  a {

    display: block;
    background: rgb(86, 196, 196);
    color: #ffffff;
    margin-bottom: .5em;
    padding-right: .5em;
}

.pc3_section__wrapper .resources--m  a:hover {

    opacity: .9;
}

.pc3_section__wrapper .resources--m a i {

    display: inline-block;
    padding: .5em;
    color: rgb(86, 196, 196);
    background: rgb(0, 102, 203);
}


/* salmon: color: rgb(255, 77, 101); */

/* teal: color: rgb(86, 196, 196); */

/* cream:  color: rgb(253, 243, 207); */

/* blue:  color: rgb(0, 102, 203); */

/* white: color: rgb(255, 255, 255); */


/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box--h {
    padding: 0 1em;
}

.l-box--v {
    padding: 1em 0;
}


.color--salmon {

    color: rgb(255, 77, 101);
}

.bg--salmon {

    background: rgb(255, 77, 101);
}

.color--teal {

    color: rgb(86, 196, 196);
}

.bg--teal {

    background: rgb(86, 196, 196);
}

.color--cream {

    color: rgb(253, 243, 207);
}

.bg--cream {

    background: rgb(253, 243, 207);
}

.color--blue {

    color: rgb(0, 102, 203);
}

.bg--blue {

    background: rgb(0, 102, 203);
}

.color--white {

    color: rgb(255, 255, 255);
}

.bg--white {

    background: rgb(255, 255, 255);
}

.position--relative {
    position: relative !important;
}

.position--absolute {
    position: absolute !important;
}

.margin--zero {

    margin: 0 !important;;
}

.margin--auto {

    margin: auto !important;;
}

.padding--zero {

    padding: 0 !important;
}

.padding--zero--t {

    padding-top: 0 !important;;
}

.padding--zero--b {

    padding-bottom: 0 !important;;
}

@media (max-width: 64em) {
    /*  1024px	.pure-u-lg-* */

    .pc3_section__wrapper .splash__title h2 {

        line-height: 84px;
        font-size: 84px;
    }

    .pc3_section__wrapper .splash__title--mm [class^="icon-"],
    .pc3_section__wrapper .splash__title--mm [class*=" icon-"] {

        line-height: 84px;
        font-size: 122px;
    }

    .pc3_section__wrapper .note {

        padding: 1.5em .8em 1em .8em;
    }

    .pc3_section__wrapper .note span {

        font-size: 18px;
    }

    .pc3_section__wrapper .resources .subhead {

        padding: 0 5%;
        font-size: 32px;
    }

    .pc3_section__wrapper .resources--m  a,
    .pc3_section__wrapper .resources--m  i {

        font-size: 15px;
        line-height: 15px;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (max-width: 48em) { /*  768px	.pure-u-md-* */

    .hide--md {

        display: none !important;
    }

    .pc3_section__wrapper .splash__title,
    .pc3_section__wrapper .summary [class^="summary--"],
    .pc3_section__wrapper .video,
    .pc3_section__wrapper .resources [class^="resources--"] {

        padding-top: 0;
    }

    .pc3_section__wrapper .splash__title [class^="icon-"],
    .pc3_section__wrapper .splash__title [class*=" icon-"],
    .pc3_section__wrapper .splash__title h2 {

        line-height: 64px;
        font-size: 64px;
    }

    .pc3_section__wrapper .splash__title--mm [class^="icon-"],
    .pc3_section__wrapper .splash__title--mm [class*=" icon-"] {

        line-height: 64px;
        font-size: 96px;
    }

    .pc3_section__wrapper .summary--t h2 {

        padding: 0 5%;
        font-size: 42px;
    }

    .pc3_section__wrapper .note {

        margin-left: 1em;
        margin-right: 1em;
    }

    .pc3_section__wrapper .note span {

        font-size: 22px;
    }

    .pc3_section__wrapper .summary--m img {

        margin-bottom: 0;
    }

    .pc3_section__wrapper .video__title {

        font-size: 64px;
        padding-top: 20px;
    }

    .pc3_section__wrapper .resources--m  a,
    .pc3_section__wrapper .resources--m  i {

        font-size: 18px;
        line-height: 18px;

        padding-left: .5em;
        padding-bottom: .5em;
    }

    .pc3_section__wrapper .resources--m a i {

        background: rgb(86, 196, 196);
        color: rgb(0, 102, 203);

        padding-left: 0;
        padding-right: 0;
    }
    .pc3_section__wrapper .resources--m a i::after {

        content: " - ";
    }
}

/*
 * -- MOBILE MEDIA QUERIES --
 * On mobile devices, override some of the tablet + desktop styles
 */
@media screen and (max-width: 35.5em) { /*	≥ 568px	.pure-u-sm-* */
    /* We increase the header font size even more */
    .hide--sm {

        display: none !important;
    }

    .pc3_section__wrapper .splash__title [class^="icon-"],
    .pc3_section__wrapper .splash__title [class*=" icon-"],
    .pc3_section__wrapper .splash__title h2 {

        line-height: 48px;
        font-size: 48px;
    }

    .pc3_section__wrapper .splash__title--mm [class^="icon-"],
    .pc3_section__wrapper .splash__title--mm [class*=" icon-"] {

        line-height: 48px;
        font-size: 68px;
    }

    .pc3_section__wrapper .summary--t h2 {

        font-size: 36px;
    }


    .pc3_section__wrapper .note {

        margin-left: .25em;
        margin-right: .25em;
    }

    .pc3_section__wrapper .video__title {

        font-size: 42px;
        padding-top: 10px;
    }


    .pc3_section__wrapper .resources--t h2 {

        font-size: 36px;
    }

    .pc3_section__wrapper .resources--t .triangle {

        border-top: 28px solid transparent;
        border-bottom: 28px solid transparent;
    }

    .pc3_section__wrapper .resources--t .triangle--l {

        border-left: 28px solid #FFFFFF;
    }

    .pc3_section__wrapper .resources--t .triangle--r {

        border-right: 28px solid #FFFFFF;
    }

    .pc3_section__wrapper .resources .subhead {

        padding: 0 2%;
        font-size: 24px;
    }

    .pc3_section__wrapper .resources--m  a,
    .pc3_section__wrapper .resources--m  i {

        font-size: 14px;
        line-height: 14px;
    }
}


/* Smartphones (landscape) ----------- */
@media screen and (max-width: 20em) { /*	≥ 320 px	.pure-u-sm-* */

    .hide--tiny {

        display: none !important;
    }

    /* Styles */

    .pc3_section__wrapper .splash__title--mm [class^="icon-"],
    .pc3_section__wrapper .splash__title--mm [class*=" icon-"] {

        line-height: 96px;
    }

    .pc3_section__wrapper .summary--t h2 {

        display: block;
        padding: 0;
        font-size: 30px;
    }

    .pc3_section__wrapper .note {

        margin-left: 0;
        margin-right: 0;
    }

    .pc3_section__wrapper .note span {

        font-size: 20px;
    }

    /* Resources Header */
    .pc3_section__wrapper .resources--t h2 {

        font-size: 32px;
    }

    .pc3_section__wrapper .resources--t .triangle {

        border-top: 26px solid transparent;
        border-bottom: 26px solid transparent;
    }

    .pc3_section__wrapper .resources--t .triangle--l {

        border-left: 26px solid #FFFFFF;
    }

    .pc3_section__wrapper .resources--t .triangle--r {

        border-right: 26px solid #FFFFFF;
    }

    /* Resources subheader */
    .pc3_section__wrapper .resources .subhead {

        font-size: 20px;
    }

    /* Resource link text */
    .pc3_section__wrapper .resources--m  a,
    .pc3_section__wrapper .resources--m  i {

        line-height: 14px;
    }
}
