/*
 * -- FONT STYLES --
 *
 * Futura clone: http://www.1001fonts.com/universalis-adf-std-font.html
 */
@font-face {
    font-family: 'lavanderia_delicate';
    src: url('fonts/lavanderia_delicate-webfont.eot');
    src: url('fonts/lavanderia_delicate-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lavanderia_delicate-webfont.woff2') format('woff2'),
    url('fonts/lavanderia_delicate-webfont.woff') format('woff'),
    url('fonts/lavanderia_delicate-webfont.ttf') format('truetype'),
    url('fonts/lavanderia_delicate-webfont.svg#lavanderia_delicatedelicate') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia_sturdy';
    src: url('fonts/lavanderia_sturdy-webfont.eot');
    src: url('fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lavanderia_sturdy-webfont.woff2') format('woff2'),
    url('fonts/lavanderia_sturdy-webfont.woff') format('woff'),
    url('fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
    url('fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia_regular';
    src: url('fonts/lavanderia_regular-webfont.eot');
    src: url('fonts/lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lavanderia_regular-webfont.woff2') format('woff2'),
    url('fonts/lavanderia_regular-webfont.woff') format('woff'),
    url('fonts/lavanderia_regular-webfont.ttf') format('truetype'),
    url('fonts/lavanderia_regular-webfont.svg#lavanderia_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'universalis_regular';
    src: url('fonts/universalis-adf-std.regular-webfont.eot');
    src: url('fonts/universalis-adf-std.regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/universalis-adf-std.regular-webfont.woff2') format('woff2'),
    url('fonts/universalis-adf-std.regular-webfont.woff') format('woff'),
    url('fonts/universalis-adf-std.regular-webfont.ttf') format('truetype'),
    url('fonts/universalis-adf-std.regular-webfont.svg#universalis_adf_stdregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'universalis_bold';
    src: url('fonts/universalis-adf-std.bold-webfont.eot');
    src: url('fonts/universalis-adf-std.bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/universalis-adf-std.bold-webfont.woff2') format('woff2'),
    url('fonts/universalis-adf-std.bold-webfont.woff') format('woff'),
    url('fonts/universalis-adf-std.bold-webfont.ttf') format('truetype'),
    url('fonts/universalis-adf-std.bold-webfont.svg#universalis_adf_stdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/** Regular styling **/

.pc3_section__wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#orbit #featured {

    height: auto;
    display: none;
}

.full-height {
    min-height: 100vh;
    height: auto !important;
}

/* DEBUG */
.pc3_section__wrapper .debug * {
    outline: 1px yellow solid;
}

.color--salmon {

    color: rgb(255, 77, 101);
}

.bg--salmon {

    background: rgb(255, 77, 101);
}

.color--teal {

    color: rgb(86, 196, 196);
}

.bg--teal {

    background: rgb(86, 196, 196);
}

.color--cream {

    color: rgb(253, 243, 207);
}

.bg--cream {

    background: rgb(253, 243, 207);
}

.color--blue {

    color: rgb(0, 102, 203);
}

.bg--blue {

    background: rgb(0, 102, 203);
}

.color--white {

    color: rgb(255, 255, 255);
}

.bg--white {

    background: rgb(255, 255, 255);
}

.position--relative {
    position: relative !important;
}

.position--absolute {
    position: absolute !important;
}

.margin--zero {

    margin: 0;
}

.margin--auto {

    margin: auto;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
.pc3_section__wrapper * {

}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box--h {
    padding: 0 1em;
}

.l-box--v {
    padding: 1em 0;
}


.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */
.home-menu {

    text-align: center;
}

/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.pc3_section__wrapper .splash {
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    position: relative;
    margin: auto;
    padding: 8em 0;
}


.pc3_section__wrapper .splash__title,
.pc3_section__wrapper .summary [class^="summary--"],
.pc3_section__wrapper .video,
.pc3_section__wrapper .resources [class^="resources--"] {

    text-align: center;
    padding-top: 1.2em;
}

.pc3_section__wrapper .center-vertical {

    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.pc3_section__wrapper .center-vertical--t {

    transform: translate(0, -100%);
}

.pc3_section__wrapper .center-vertical--b {

    transform: translate(0, 100%);
}

.pc3_section__wrapper .center-vertical-horizontal {

    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pc3_section__wrapper .bg-line {

    z-index: 10;
    height: 2px;
}

.pc3_section__wrapper .bg-line.bg-line--thicker {

    height: 4px;
}

.pc3_section__wrapper .font--block {

    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', sans-serif;
    text-transform: uppercase;
}

.pc3_section__wrapper .font--fancy {
    font-family: 'lavanderia_sturdy', cursive;
    text-transform: lowercase;
    font-weight: normal;
}

.pc3_section__wrapper .splash__title [class^="icon-"],
.pc3_section__wrapper .splash__title [class*=" icon-"],
.pc3_section__wrapper .splash__title h2 {

    line-height: 96px;
    margin: 0;
    font-size: 96px;
}

/* Better to put the icons in with the header so that they all collapse into the same div */



.pc3_section__wrapper .splash__title--mm [class^="icon-"],
.pc3_section__wrapper .splash__title--mm [class*=" icon-"] {

    line-height: 96px;
    font-size: 144px;
    font-weight: bold;
}

.pc3_section__wrapper .title--inline-overlap {

    z-index: 15;
    display: inline-block;
    padding: 0 24px;
}

.pc3_section__wrapper .summary .summary--b {

    padding-bottom: 1.2em;
}

.pc3_section__wrapper .summary--t h2 {

    padding: 0 10%;
    font-size: 48px;
    text-transform: uppercase;
}

.pc3_section__wrapper .summary--m .bg-shopping-bag {

    width: 180px;
    height: 180px;
    -moz-border-radius: 90px;
    -webkit-border-radius: 90px;
    border-radius: 90px;
}


.pc3_section__wrapper .note {

    position: relative;
    padding: 1em 1.5em;
    /* background: #97C02F; */
    overflow: hidden;

    height: 200px;
}

.pc3_section__wrapper .note:before {

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 30px 30px 0;
    border-style: solid;
    border-color: rgb(86, 196, 196) rgb(86, 196, 196) rgb(253, 243, 207) rgb(253, 243, 207); /* color--teal *2  color--cream *2 */
    background: rgb(86, 196, 196);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
    /* Firefox 3.0 damage limitation */
    display: block; width: 0;
}

.pc3_section__wrapper .note-title__bg {

    width: 80px;
    height: 80px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;

    z-index: 10;
    margin-bottom: -20px;
}

.pc3_section__wrapper .note span {

    margin-top: 1em;
    font-size: 20px;
}

.pc3_section__wrapper .note-title {

    font-size: 96px;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;

}

.pc3_section__wrapper .video__title {

    font-size: 96px;
}

.pc3_section__wrapper .video__container {

    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.pc3_section__wrapper .video__container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pc3_section__wrapper .resources--t h2 {

    padding: 0 10%;
    font-size: 48px;
    text-transform: uppercase;
}

.pc3_section__wrapper .resources--t .triangle {
    width: 0;
    height: 0;
    border-top: 36px solid transparent;
    border-bottom: 36px solid transparent;

    position: absolute;
    z-index: 15;
}

.pc3_section__wrapper .resources--t .triangle--l {

    border-left: 36px solid rgb(253, 243, 207);
    left: 0;
}

.pc3_section__wrapper .resources--t .triangle--r {

    border-right: 36px solid rgb(253, 243, 207);
    right: 0;
}

.pc3_section__wrapper .resources--m ul {

    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: left;
}

.pc3_section__wrapper .resources .subhead {

    padding: 0 10%;
    font-size: 36px;
    text-transform: uppercase;
}

.pc3_section__wrapper .resources--m  a,
.pc3_section__wrapper .resources--m  i {

    font-size: 20px;
    line-height: 19px;
}

.pc3_section__wrapper .resources--m  a {

    display: block;
    background: rgb(86, 196, 196);
    color: #ffffff;
    margin-bottom: .5em;
    padding-right: .5em;
}

.pc3_section__wrapper .resources--m a i {

    display: inline-block;
    padding: .5em;
    color: rgb(86, 196, 196);
    background: rgb(0, 102, 203);
}


/* salmon: color: rgb(255, 77, 101); */

 /* teal: color: rgb(86, 196, 196); */

  /* cream:  color: rgb(253, 243, 207); */

   /* blue:  color: rgb(0, 102, 203); */

    /* white: color: rgb(255, 255, 255); */


/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {

    }

    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
    /* We increase the header font size even more */

}
