/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/*
 * -- FONT STYLES --
 */
@font-face {
    font-family: 'lavanderia_delicate';
    src: url('fonts/lavanderia_delicate-webfont.eot');
    src: url('fonts/lavanderia_delicate-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lavanderia_delicate-webfont.woff2') format('woff2'),
    url('fonts/lavanderia_delicate-webfont.woff') format('woff'),
    url('fonts/lavanderia_delicate-webfont.ttf') format('truetype'),
    url('fonts/lavanderia_delicate-webfont.svg#lavanderia_delicatedelicate') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia_sturdy';
    src: url('fonts/lavanderia_sturdy-webfont.eot');
    src: url('fonts/lavanderia_sturdy-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lavanderia_sturdy-webfont.woff2') format('woff2'),
    url('fonts/lavanderia_sturdy-webfont.woff') format('woff'),
    url('fonts/lavanderia_sturdy-webfont.ttf') format('truetype'),
    url('fonts/lavanderia_sturdy-webfont.svg#lavanderia_sturdysturdy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lavanderia_regular';
    src: url('fonts/lavanderia_regular-webfont.eot');
    src: url('fonts/lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lavanderia_regular-webfont.woff2') format('woff2'),
    url('fonts/lavanderia_regular-webfont.woff') format('woff'),
    url('fonts/lavanderia_regular-webfont.ttf') format('truetype'),
    url('fonts/lavanderia_regular-webfont.svg#lavanderia_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}